In [52]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [169]:
np.random.seed(101)
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [171]:
df.loc['A']
df.iloc[2]
df.loc[['C','D'],['W','X']]

          W         X
C -2.018168  0.740122
D  0.188695 -0.758872

In [183]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
import numpy as np
my_list = [1,2,3]
arr = np.array(my_list)
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
np.array(my_matrix)
np.arange(0,10,2)
np.zeros((4,4))
np.ones((2,5))
np.linspace(0,7,100)
np.eye(5)
np.random.rand(5)
np.random.randn(3,3)
np.random.randint(1987, 2025, 38)
arr = np.arange(25)
ranarr = np.random.randint(0,50,10)
ranarr.max()
arr.reshape(5,5)
ranarr.argmax()
arr.shape