In [32]:
import pandas as pd
import numpy as np

outside = ['2025' , '2025' , '2025' , '2024' , '2024' , '2024' ]
inside = ['CL1', 'CL2', 'CL3', 'CL1', 'CL2', 'CL3']
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [34]:
outside

['2025', '2025', '2025', '2024', '2024', '2024']

In [36]:
inside

['CL1', 'CL2', 'CL3', 'CL1', 'CL2', 'CL3']

In [38]:
list(zip(outside, inside))

[('2025', 'CL1'),
 ('2025', 'CL2'),
 ('2025', 'CL3'),
 ('2024', 'CL1'),
 ('2024', 'CL2'),
 ('2024', 'CL3')]

In [40]:
hier_index

MultiIndex([('2025', 'CL1'),
            ('2025', 'CL2'),
            ('2025', 'CL3'),
            ('2024', 'CL1'),
            ('2024', 'CL2'),
            ('2024', 'CL3')],
           )

In [20]:
from numpy.random import randn
np.random.seed(101)

In [44]:
df = pd.DataFrame(np.random.randn(6,2),index = hier_index, columns = ['P_Jan' , 'P_Fev'])
df

             P_Jan     P_Fev
2025 CL1 -0.134841  0.390528
     CL2  0.166905  0.184502
     CL3  0.807706  0.072960
2024 CL1  0.638787  0.329646
     CL2 -0.497104 -0.754070
     CL3 -0.943406  0.484752

In [54]:
df.loc['2024'].loc[['CL1' , 'CL2']]

        P_Jan     P_Fev
CL1  0.638787  0.329646
CL2 -0.497104 -0.754070

In [58]:
df.index.names = ['année' , 'Client']
df

                 P_Jan     P_Fev
année Client
2025  CL1    -0.134841  0.390528
      CL2     0.166905  0.184502
      CL3     0.807706  0.072960
2024  CL1     0.638787  0.329646
      CL2    -0.497104 -0.754070
      CL3    -0.943406  0.484752

In [64]:
df.loc['2025'].loc['CL2'].loc['P_Fev']

0.18450185928224264

In [74]:
df.loc['2025']

           P_Jan     P_Fev
Client
CL1    -0.134841  0.390528
CL2     0.166905  0.184502
CL3     0.807706  0.072960

In [94]:
df.xs('2025')

           P_Jan     P_Fev
Client
CL1    -0.134841  0.390528
CL2     0.166905  0.184502
CL3     0.807706  0.072960